@charset "utf-8";
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 13pt;
}
a{
	color: #333;
	vertical-align: bottom;
	text-decoration: none;
}
ul{
	list-style-type: none;
}
img{
	max-width: 100%;
}
main{
	margin: 0 auto;
}
section{
	display: block;
	margin: 0 auto;
}
.wrap{
	overflow: hidden;
}
/*header********************************************************************************/
header{
	width: 100%;
	position: fixed;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	background-color: white;
	filter: drop-shadow(0px 1px 2px #ccc);
	z-index: 1000;
}
.header-right ul{
	height: 100vh;
	width: 60vw;
	position: absolute;
	top: 86px;
	right: 0px;
	display: block;
	background-color: #ccc;
	transform: translateX(150%);
	transition: 0.5s;
}
.header-right ul.active{
	transform: translateX(0%);
}
.header-right li{
	text-align: center;
}
.header-right li a{
	padding:33px 25px; 
	display:inline-block;
	transition: 0.3s;
}
.header-right li a:hover{
	background-color: #ccc;
	color: #fff;
}
.toggle {
	font-size: 50px;
	cursor: pointer;
}
#open{
	display: none;
}
.toggle:hover {
	text-decoration: underline;
}
#open:checked + .header-right ul{
	transform: translateX(0%);
}
/*.header-right li a.active{
	background-color: #fff;
	border-bottom: 1px solid #333;
	transition: 0.5s;
	border-bottom: 3px solid red;
}*//*jsで設定*/
.menu-icon{
	position: absolute;
	top: 10px;
	right: 40px;
	padding: 10px;
}
.fa-bars{
	font-size: 2.5em;
}
/***************************************************************************************/
/*top-view******************************************************************************/
.top-view{
	position: relative;
	width: 100%;
	height: 100vh;
	padding-top: 80px;
}
.top-img{
	position: absolute;
	top: 40%;
	left: 45%;
	transform: translate(-45%,-50%) rotate(-15deg);
}
.catch-copy{
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%,-50%);
	}
.catch-copy p{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 2rem;
	transform: rotate(0deg);
}
.catch-text{
	position: absolute;
	bottom: 5%;
	left: 30%;
	right: 20%;
}
.triangle-left{
	position: absolute;
	width: 0;
	height: 0;
	border: 200px solid transparent;
	border-bottom: 300px solid #ccc;
	top: -15%;
	left: 10%;
	z-index: -1;
	transform: rotate(15deg);
	animation: triangleRotate 7s linear infinite;
}
@keyframes triangleRotate{
	0%{transform: rotate(0deg);
		transform-origin: 50% 75%;}
	100%{transform: rotate(360deg);
		transform-origin: 50% 75% ;}
}

.circle-right{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #ccc;
	border-radius: 50%;
	bottom: -25%;
	right: 30%;
	z-index: -1;
}
/***************************************************************************************/
/*main**********************************************************************************/
.content{
	text-align: center;
}
.content:not(first-of-type){
	margin-top: 150px;
}
.max-width{
	max-width: 960px;
	margin: 20px auto;
}
/***************************************************************************************/
/*profile***********************************************/
.profile{
	position: relative;
	padding-top: 50px;
	/*display: flex;*/
}
.profile img{
	max-width: 300px;
}
dl{
	margin-bottom: 30px;
	text-align: left;
	line-height: 1.8em;
}
dt,dd{
	font-size: 0.8rem;
}
.profile-info dt{
	/*width: 30%;*/
	width: 40%;
	padding-right: 10px;
	float: left;
	display: block;
	text-align: right;
	font-weight: bold;
}
.profile-info dd{
	/*width: 70%;*/
	width: 60%;
	float: right;
	display: block;
}
.profile-info a{
	font-size: 0.8rem;
}
.profile-info dd span::before{
	content: '―';
	padding-left: 10px;
}
.profile-info dd span::after{
	content: '―';
}
.profile-info dl::after{
	content: '';
	display: block;
	clear: both;
}
.triangle-right{
	position: absolute;
	width: 200px;
	height: 200px;
	/*border: 150px solid transparent;*/
	/*border-bottom: 200px solid #ccc;*/
	background-color: #ccc;
	border-radius: 50%;
	top: -10%;
	right: 5%;
	transform: rotate(-15deg);
	z-index: -1;
}
.logo-img{
	position: absolute;
	width: 200px;
	height: 200px;
	bottom: -5%;
	left: 10%;
	transform: rotate(-15deg);
	z-index: -1;
	animation: logoRotate 7s linear infinite;
}
@keyframes logoRotate{
	0%{transform: rotate(0deg);
		transform-origin: center;}
	100%{transform: rotate(360deg);
		transform-origin: center;}
}
.logo-img img{
	width: 100%;
	opacity: 0.4;
}
/***********************************************************/
/*skills****************************************************/
.fab,.fas.fa-file-code{
	font-size: 5em;
}
.skills-contents{
	position: relative;
	display: block;
	font-size: 1rem;
}
.using-tool{
	width: 90%;
	min-height: 200px;
	padding: 20px;
	margin: 30px auto;
	background-color: #fff;
	border:2px solid #333;
	box-shadow: 15px 15px #333;
}
.using-tool img{
	width: 65pt;
}
.bg-circle{
	position: absolute;
	width: 500px;
	height: 500px;
	background-color: #ccc;
	border-radius: 50%;
	bottom: 10%;
	right: -20%;
	z-index: -1;
}
/*************************************************************/
/*works*******************************************************/
.content{
	position: relative;
}
.container{
	display: block;
}
.work-contents{
	position: relative;
	width: 90%;
	margin: 30px auto;
	padding:20px 20px 50px 20px;
	background-color: white;
	border:1px solid;
	box-shadow: 15px 15px #333;
}
.work-contents dt{
	width: 30%;
	padding-right: 10px;
	float: left;
	text-align: right;
}
.work-contents dd{
	width: 70%;
	float: right;
}
.work-contents dl:after{
	content: '';
	clear: both;
	display: block;
}
.btn{
	position: absolute;
	width: 260px;
	height: 40px;
	text-align: center;
	vertical-align: middle;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
}
.btn a{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding-top: 8px;
	background-color: #ccc;
	transition: 0.5s
}/*#learningでも使用*/
.btn:hover.btn a{
	background-color: #333;
	color: #ccc;
}
.strange-triangle{
	position: absolute;
	width: 0;
	height: 0;
	border: 400px solid transparent;
	border-bottom: 400px solid #ccc;
	bottom: 0%;
	left: -10%;
	transform: rotate(30deg);
	z-index: -1;
	animation: triangleRotate 7s linear infinite;
}
/*************************************************************/
/*Learning****************************************************/
#learning .container{
	margin: 30px;
	padding: 20px;
	display: block;
	text-align: left;
	border:1px solid;
	box-shadow: 15px 15px #333;
}
.learning-img{
	width: 100%;
}
#learning .container img{
	width: 100%;
	height: auto;
	padding: 20px;
	border:1px solid #ccc;
}
.caption{
	position: relative;
	width: 100%;
	padding-bottom: 70px;
	padding-left: 20px;
}
@media screen and (min-width: 900px){
	.header-right ul{
		display: flex;
		height: 100%;
		width: auto;
		justify-content: space-between;
		top:0px;
		background-color: transparent;
		transform: translateX(0%);
	}
	.header-right li{
		text-align: left;
	}
	.header-right li a{
		padding:31px 25px; 
		display:inline-block;
	}
	.menu-icon{
		display: none;
	}
	.top-view{
		position: relative;
	}
	.catch-copy{
		position: absolute;
		top: 60%;
		right: 10%;
		writing-mode: vertical-rl;
		-ms-writing-mode:vertical-rl;
		transform: translate(0%);
	}
	.catch-copy p{
		font-size: 3rem;
		transform: rotate(15deg);
	}
	.catch-text{
		position: absolute;
		bottom: 15%;
		left: 30%;
		right: 20%;
	}
	.profile{
		display: flex;
	}
	.logo-img{
		bottom: -15%;
		left: -20%;
	}
	.skills-contents{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		font-size: 1rem;
	}
	.using-tool{
		width: 45%;
		min-height: 200px;
		padding: 20px;
		margin: 30px 20px;
		background-color: #fff;
		border:2px solid #333;
		box-shadow: 15px 15px #333;
	}
	.container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.work-contents{
		position: relative;
		width: 45%;
		margin: 30px 20px;
	}
	#learning .container{
		display: flex;
		text-align: left;
	}
	.learning-img{
		width: 48%;
	}
	.caption{
		position: relative;
		width: 48%;
		padding-left: 20px;
	}
}